*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    /*tipografia*/
    --fonteDestaque:'Shrikhand', cursive;
    --fonteNormal:'Quicksand', sans-serif;

    /*tamanho*/
    --corpo:12px;
    --um:8px;
    --dois:16px;
    --tres:24px;
    --quatro:32px;
    --cinco:40px;
    --seis:48px;
    --sete:56px;
    --oito:64px;
    --nove:72px;
    --dez:80px;

    /*cores*/
    --luz:#333;
    --sombra:#0f0f0f;

    /*--gradiente-1: #0a0a0a;
    --gradiente-2: #171717;*/

    --fundo:#1b1b1b;/*fundo*/

    --branco:#fff;/*fundo*/
    --preto:#000;/*fundo*/

    --destaque-1: #f7a2ad;/*título*/
    --destaque-2: #a2d365;/*destaque*/

    --textoClaro: #e5e5e5;/*texto*/
    --textoMedio: #b1b0bc;/*texto*/
    --textoEscuro: #545454;/*texto*/
}

::selection{
    background: var(--luz);
    color: var(--textoMedio);
}

::-webkit-scrollbar{
    width: 0%;
    border: none;
}

body{
    /*font-family: 'Quicksand', sans-serif;*/
    background: var(--fundo);
    color: var(--textoMedio);
    font-family: var(--fonteNormal);
    font-size: 12px;
    /*text-transform: lowercase;*/
    margin: 16px 80px 0 80px;
}

/************************************************************************************************/
li a{
    color: var(--textoMedio);
}

li a:hover{
    color: var(--destaque-2);
}

progress[value] {
    width: 200px;
    height: 10px;
    accent-color: var(--destaque-2);
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/************************************************************************************************/
main{
    /*border-radius: 24px;*/
    padding: 16px;
}

.cabecalho {  
    display: grid; 
    grid-template-columns: 0.2fr 2.4fr 0.6fr; 
    grid-template-rows: 1fr; 
    gap: 24px 24px; 
    grid-template-areas: ". . .";
    border-radius: 2px;
    border-right: 2px solid var(--destaque-2);
    padding-right: 16px;
}

.cabecalho .cabecalho-esquerdo img{
    width: 80px;
    height: 80px;
    border: 2px solid var(--destaque-2);
    border-radius: 50%;
    padding: 3px;
}

.cabecalho .cabecalho-central h1{
    text-transform: uppercase;
    font-size: 32px;
    color: var(--destaque-2);
}

.cabecalho .cabecalho-central h3{
    font-weight: 400;
    font-size: 24px;
}

.cabecalho .cabecalho-direito{
    text-align: right;
    font-size: 12px !important;
    font-weight: 400;
}

.cabecalho .cabecalho-direito li{
    list-style: none;
}

.corpo{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1.2fr 0.3fr; 
    grid-template-rows: 1fr; 
    gap: 16px 16px; 
    grid-template-areas: ". . .";
}

.corpo h3{
    color: var(--destaque-2);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 0 16px 0;
}

.corpo span{
    font-weight: 400;
}

.corpo .corpo-esquerdo li{
    margin-left: 16px;
}