@import url('index.css');

main{
  background-color: var(--boxColor);
}

main, main > div > div:nth-child(2), .equation{
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div{
  background-color: var(--boxColor);
}

@media screen and (min-width: 769px){
  main > div{ 
    width: 75%;
    padding: 5rem 15rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  main > div{
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 767px){
  main > div{
    padding: 5rem 2.5rem;
  }
}

.equation{
  height: 20vh;
  background-color: rgba(245, 244, 244, 0.5);
  font-size: 1.6rem;
  border: 10px var(--textColor) !important;
  border-radius: 5px 5px 0 0;
}

#root{
  height: 5vh;
  text-align: center;
  padding: 1.6rem;
}