/*******************************************************************************
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    
RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI    RAYSANTORI
*******************************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    /*tipografia*/
    --fonteDestaque:'Shrikhand', cursive;
    --fonteNormal:'Quicksand', sans-serif;

    /*tamanho*/
    --corpo:12px;
    --um:8px;
    --dois:16px;
    --tres:24px;
    --quatro:32px;
    --cinco:40px;
    --seis:48px;
    --sete:56px;
    --oito:64px;
    --nove:72px;
    --dez:80px;

    /*cores*/
    --luz:#333;
    --sombra:#0f0f0f;

    /*--gradiente-1: #0a0a0a;
    --gradiente-2: #171717;*/

    --fundo:#1b1b1b;/*fundo*/

    --destaque-1: #f7a2ad;/*título*/
    --destaque-2: #a2d365;/*destaque*/

    --textoClaro: #e5e5e5;/*texto*/
    --textoMedio: #b1b0bc;/*texto*/
    --textoEscuro: #545454;/*texto*/
}

::selection{
    background: var(--luz);
    color: var(--textoMedio);
}

::-webkit-scrollbar{
    width: 0%;
    border: none;
}

body{
    /*font-family: 'Quicksand', sans-serif;*/
    background: var(--fundo);
    color: var(--textoEscuro);
    font-family: var(--fonteNormal);
    font-size: var(--corpo);
    text-transform: lowercase;
}

/*tipografia***********************************************************************************/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    padding: 4px;
}

h1{
    font-size: var(--tres);
}/*grande*/

h2{
    font-size: var(--sete);
}/*médio*/

h3{
    font-size: var(--quatro);
}/*pequeno*/

h4{
    font-size: var(--tres);
}/*texto*/

/*links***********************************************************************************/
a{
    color: var(--textoEscuro);
    font-size: var(--dois);
    padding: 16px;
}

a:hover{
    color: var(--destaque-2);
    transform:translateY(-5px);
}

/*listas***********************************************************************************/
input{
    font-size: 16px;
    padding: 12px;
    margin-right: 24px;
    border: none;
    border-radius: 24px;
    box-shadow: -1px -1px 5px var(--luz), 1px 1px 3px var(--sombra);
}

form [type="email"]{
    background: linear-gradient(145deg, #0a0a0a, #171717);
    box-shadow: inset 3px 3px 5px var(--sombra), inset -3px -3px 7px var(--luz);
}

form [type="submit"]{
    width:25%;
    background: var(--luz);
    font-family: var(--fonteNormal);
    text-transform: lowercase;
    color: var(--textoMedio);
}

form [type="submit"]:hover{
    background: linear-gradient(145deg, #0a0a0a, #171717);
    box-shadow: inset 3px 3px 5px var(--sombra), inset -3px -3px 7px var(--luz);
}

/*blocos***********************************************************************************/
header{
    position: fixed;
    width: 100%;
    height: 56px;
    background: var(--fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: var(--textoMedio);
    box-shadow: -3px -3px 7px var(--luz), 3px 3px 5px var(--sombra);
    padding: 0 24px 0 24px;
}

section{
    height: 100vh;}

footer{
    width: 100%;
    background: var(--luz);
    color: var(--textoMedio);
    padding: 16px;
}

/*header***********************************************************************************/
header h1{
    color: var(--textoMedio);
}

/*main***********************************************************************************/
main h2{
    color: var(--destaque-2);
    font-family: var(--fonteDestaque);
}
main h4, h3{
    color: var(--textoMedio);
}

.menu-burguer i{
    font-size: 24px;
    cursor: pointer;
    /*color: linear-gradient(145deg,#a2d365,#f7a2ad);*/
}

/*inicio*/
.conjunto {
    width: 100%;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 0.2fr 1.4fr 1.4fr; 
    grid-template-rows: fr; 
    gap: 16px 16px; 
    grid-template-areas: ". . ."; 
}

.inicio-e, .inicio-c{
    margin-top: 14%;
    padding-top: 80px;
}

.inicio-e{
    padding-top: 156px;
}

.inicio-d{
    margin-top: 14%;
    padding: 80px;
}

.inicio-d img{
    align-items: center;
    width: 300px;
    height: 350px;
    border: 2px solid var(--destaque-2);
    /*border-radius: 50%;*/
    border-radius: 75px 0 75px 75px;
    box-shadow: -5px -5px 10px var(--luz), 5px 5px 7px var(--sombra);
}

.beneficios-news{
    font-size: var(--dois);
}

.social{
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding:10px;
    border-radius:10px;
  }

  .social a{
    height:52px;
    color: var(--textoEscuro);
    font-size:24px;
    text-decoration: none;
    border-radius:5px;
    margin:10px;
    transition:0.3s;
    cursor: pointer;
  }

  .social a:hover{
    color: var(--destaque-2);
  }

  /*sobre*/