/*referência*/
/*ícones*/
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'OldLondon';
    src: url('../fontes/OldLondon.ttf'), url('../fontes/OldLondonAlternate.ttf');
}
@font-face {
    font-family: 'Seagram';
    src: url('../fontes/Seagram\ tfb.ttf');
}

/*id visual*/
:root{
    /*paleta de cores
    --corPrimaria:#f573a1;
    --corSecundaria:#fcd72c;
    --corTerciaria:#21bf48;
    --corQuartenaria:#4821bf;

    --lightClaro:#ffffff;
    --lightMedio:#B9B9B9;
    --lightEscuro:#7C7C7C;

    --darkClaro:#323232;
    --darkMedio:#202020;
    --darkEscuro:#181818;
    --darkTotal:#000000;*/
    --cor-primaria:rgb(245, 115, 161);
    --cor-secundaria:rgb(252, 215, 44);
    --cor-terciaria:rgb(33, 191, 72);
    --cor-quartenaria:rgb(72, 33, 191);
    --cor-fundo:#eee;
    --cor-sobreposta:#fff;
    --cor-conteudo-destaque:rgba(24, 24, 24);
    --cor-conteudo:rgb(44, 44, 44);

    /*tipografia
    --fonteDestaque: 'OldLondon', 'Nunito', sans-serif;
    --fonteTxt:'Nunito', 'Nunito Sans', sans-serif;

    --tamTtl1:56pt;
    --tamTtl2:32pt;
    --tamTtl3:28pt;

    --tamCab:20pt;
    --tamSubCab:16pt;

    --tamBtn:14pt;

    --tamTxt1:14pt;
    --tamTxt2:12pt;

    --tamSub:11pt;*/
    --fonte-conteudo:'Nunito', 'Nunito Sans', sans-serif;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-conteudo);
    font-size: 16px;
    color: var(--cor-conteudo);
}

/*seletor de texto*/
::selection{
    background-color: var(--cor-primaria);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 0;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
}

/*títulos
h1{
    color: var(--darkEscuro);
    font-size: 3rem;
    font-weight: 100;
    font-family: var(--fonteDestaque);
}
h2{
    font-size: var(--tamTtl2);
    text-transform: lowercase;
    padding: 16px 0;
}
h3{
    font-size: var(--tamTtl3);
}
h4{}
h5{}
h6{
    font-size: var(--tamSub);
}*/

h1,h2,h3,h4,h5,h6{
    padding: 0 1rem;
}

h2{
    text-align: center;
}

h3{
    text-transform: uppercase;
}

/*marca-texto
a{
    color: var(--darkClaro);
}

a:hover{
    color: var(--lightEscuro);
}

mark{
    background: linear-gradient(-45deg, #fcd72c,#21bf48);
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    color: var(--darkEscuro);
    font-weight: bold;
}*/

p{
    padding: 1rem 0;
}

a{
    color: var(--cor-conteudo);
}

a:hover{
    color: var(--cor-primaria);
    text-decoration: underline;
}

/*botões
button{
    padding: 7pt 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin: 16px 0;
    font-family: var(--fonteTxt);
    font-size: var(--tamBtn);
    font-weight: bold;
    text-transform: uppercase;
}

button:hover,button.btnPri:hover{
    background: var(--lightClaro);
    color: var(--darkEscuro);
    transition: all 1s ease;
}

button i{
    padding: 4px 16px 0 0;
}

button.btnPri{
    background: linear-gradient(-45deg, #fcd72c,#21bf48);
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    color: var(--darkEscuro);
}*/

/*entradas
input, textarea{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin: 4px;
    background-color: var(--darkMedio);
    color: var(--lightMedio);
    font-family: var(--fonteTxt);
    font-size: var(--tamTxt2);
}*/