/*
main{
    width: 100vw; height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 0.73fr 1.75fr 0.75fr 1fr 1fr 0.75fr 0.1fr;
    grid-template-rows: 0.1fr 1.4fr 1.4fr 0.1fr;
    grid-template-areas: 
    "cab cab cab cab cab cab cab cab" 
    ". hab sob img img frm frm ."  
    ". hab sob img img frm frm ."  
    ". hab sob img img frm frm ."  
    "rdp rdp rdp rdp rdp rdp rdp rdp";
}

@media only screen and (max-width:500px){
    main{
        width: 100vw; height: auto;
        display: grid;
        grid-template-rows: 0.1fr 1fr 0.73fr 0.25fr 1fr 0.1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "cab"   
        "img"
        "sob"
        "hab"  
        "frm"  
        "rdp";
    }

    header{
        height: auto;
    }

    header ul li{
        visibility: hidden;
    }

    #img img{
        width: 100%;
        border-radius: 8px !important;
        margin: 25px auto;
    }

    #habilidades{
        display: flex;
    }

    .barraCirc{
        margin: 25px;
    }

    #form{
        margin: 4%;
    }
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-45deg,#fcd72c,#21bf48);
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    grid-area: cab;
}

header h1{
    cursor: default;
}

header ul{
    text-decoration: none;
}

header li{
    display: inline;
}

#habilidades{
    grid-area: hab;
    margin: auto;
}

.barraCirc{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "graph"
    "txt";
    padding: 25px 0;
}

.bC{
    grid-area: graph;
}

.barraCirc strong{
    color:var(--lightClaro);
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}
  
div[role="progressbar"]{
    --pgPercentage: var(--value);
    display: grid;
    place-items: center;
    width: 100px; height: 100px;
    border-radius: 50%;
    background: 
        radial-gradient(closest-side, var(--darkEscuro) 80%, transparent, transparent 90%),
        conic-gradient(var(--corTerciaria) calc(var(--pgPercentage) * 1%), transparent 0);
    animation: barraProgresso 3s 1 forwards;
    color: var(--corTerciaria);
    background-color: var(--darkMedio);
}
  
div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
}

#sobre{
    grid-area: sob;
    margin: auto;
}

#sobre h3, #form h3{
    font-size: 2rem;
}

#sobre strong{
    background: linear-gradient(-45deg, #fcd72c,#21bf48);
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color:var(--corTerciaria);
    font-family: var(--fonteDestaque);
    font-size: 3.25rem;
    font-weight: 200;
}

#img{
    grid-area: img;
    margin: auto;
}

#img img{
    width: 95%;
    border-radius: 25% 8px 25% 8px;
}

#sobre p{
    color: var(--lightMedio);
    font-size: 16px;
    text-align: justify;
    text-indent: 4rem;
    padding: 4px;
}

#habilidades,#sobre,#img,#form{
    padding: 0 16px;
}

#form{
    margin: auto;
    grid-area: frm;
}

#voltaTop{
    position: fixed;
    background: var(--corDark2);
    border-radius: 50%;
    padding: 8px 8px 0 8px;
    bottom: 25px; right: 25px;
    cursor: pointer;
}

footer{
    width: 100%;
    grid-area: rdp;
}

#copy{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg,#fcd72c,#21bf48);
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    color: var(--darkEscuro);
    font-size: calc(16px - 25%);
    text-transform: uppercase;
    padding: 8px;
    cursor: default;
}*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

section{
    width: 100%;
    background-color: var(--cor-sobreposta);
    padding: 4rem 8rem;
    border-radius: 4px;
}

@media only screen and (max-width:1150px){
    article ul{
        columns: 2 !important;
    }
}

@media only screen and (max-width:750px){
    section{
        padding: 4rem 2rem !important;
    }

    article ul{
        columns: 1 !important;
    }

    article ul li{
        padding: 1rem 0 !important;
    }
}

@media only screen and (max-width:500px){
    article{
        padding: 4rem 2rem !important;
    }

    article ul li{
        padding: 1rem 0 !important;
    }
}

section p{
    text-align: center;
    margin: auto;
}

article ul{
    columns: 3;
    color: var(--cor-primaria);
    list-style-type: '\3030\00a0\00a0\00a0\00a0\00a0';
    list-style-position: inside;
}

article ul li{
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--cor-fundo);
}

article ul li:hover{
    background-color: var(--cor-fundo);
    border-radius: 4px;
    transition: all .5s;
    cursor: pointer;
}

footer{
    background-color: var(--cor-sobreposta);
    font-size: 1rem;
    padding: 1rem;
}

#copyright{
    text-align: center;
    text-transform: uppercase;
}