@import url(anima.css);
@import url(style.css);

/*referência*/
/*ícones*/
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

/*tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'OldLondon';
    src: url('../fontes/OldLondon.ttf'), url('../fontes/OldLondonAlternate.ttf');
}
@font-face {
    font-family: 'Seagram';
    src: url('../fontes/Seagram\ tfb.ttf');
}

/*id visual*/
:root{
    --cor-primaria:rgb(245, 115, 161);
    --cor-secundaria:rgb(252, 215, 44);
    --cor-terciaria:rgb(33, 191, 72);
    --cor-quartenaria:rgb(72, 33, 191);
    --cor-fundo:#eee;
    --cor-sobreposta:#fff;
    --cor-conteudo-destaque:rgba(24, 24, 24);
    --cor-conteudo:rgb(44, 44, 44);

    
    --fonte-conteudo:'Nunito', 'Nunito Sans', sans-serif;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-conteudo);
    font-size: 16px;
    color: var(--cor-conteudo);
}

/*seletor de texto*/
::selection{
    background-color: var(--cor-primaria);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 0;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
}

h1,h2,h3,h4,h5,h6{
    color: var(--cor-conteudo-destaque);
    padding: 0 1rem;
}

:is(article) h1,h2,h3{
    text-transform: uppercase;
}

h2{
    color: var(--cor-primaria);
    text-align: center;
}

@media only screen and (max-width:750px){
    h3{
        padding: 1rem !important;
    }
}

@media only screen and (max-width:500px){
    h3{
        padding: 1rem !important;
    }
}

h3{
    padding: 6rem 1rem 1rem 1rem;
}

h4{
    color: var(--cor-conteudo);
    padding: 4rem 2rem 0 2rem;
}

h4::before{
    content: '#\00a0';
    color: var(--cor-primaria);
}

/*rodapé*/
footer{
    background-color: var(--cor-sobreposta);
    font-size: 1rem;
    padding: 1rem;
}

#copyright{
    text-align: center;
    text-transform: uppercase;
}