/*referência*/
/*ícones*/
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*id visual*/
:root{
    /*cores*/
    --corPri1:rgb(250, 71, 122);
    --corPri2:rgba(250, 71, 122, 0.6);

    --corSec1:rgb(252, 215, 44);
    --corSec2:rgba(252, 215, 44, 0.6);

    --corTxt1:rgb(0, 0, 0);
    --corTxt2:rgba(117, 117, 117, 0.6);
    --corTxt3:rgba(153, 153, 153, 0.4);
    --corTxt4:rgba(204, 204, 204, 0.2);

    --corDark1:rgb(34, 35, 36);
    --corDark2:rgba(46, 49, 54, 0.6);

    --corWhite1:rgb(250, 250, 250);
    --corWhite2:rgba(233, 233, 233, 0.6);

    /*tipografia*/
    --fonteDes:sans-serif;
    --fonteTxt:'Nunito', 'Nunito Sans', sans-serif;

    --tamTtl1:56pt;
    --tamTtl2:32pt;
    --tamTtl3:28pt;

    --tamCab:20pt;
    --tamSubCab:16pt;

    --tamBtn:14pt;

    --tamTxt1:14pt;
    --tamTxt2:12pt;

    --tamSub:11pt;
}

/*redefinir*/
*{
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--corDark1);
    font-family: var(--fonteTxt);
    font-size: var(--tamTxt1);
    color: var(--corWhite1);
}

/*seletor de texto*/
::selection{
    background-color: var(--corPri1);
    color: var(--corTxt1);
}

/*barra de rolagem*/
::-webkit-scrollbar{
    width: 8px; height: 0;
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb{
    border-radius: 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--corPri1);
}

/*títulos*/
/*h1 título*/
h1{
    background: linear-gradient(-45deg, rgb(250, 71, 122), rgb(252, 215, 44));
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-size: var(--tamCab)
}

/*h2 tópico*/
h2{
    font-size: var(--tamTtl2);
    text-transform: lowercase;
    padding: 16px 0;
}

/*h3*/
h3{
    font-size: var(--tamTtl3);
}

/*h4*/
h4{}

/*h5*/
h5{}

/*h6 subtítulo*/
h6{
    font-size: var(--tamSub);}

/*marca-texto*/

/*botões*/
button{
    padding: 7pt 14pt;
    border: none;
    border-radius: 8px;
    margin: 16px 0;
    box-shadow: 5px 5px 7px var(--corDark2);
    font-family: var(--fonteTxt);
    font-size: var(--tamBtn);
    font-weight: bold;
    text-transform: uppercase;
}

button:hover,button.btnPri:hover{
    background: var(--corDark1);
    color: var(--corTxt2);
    box-shadow: inset  5px 5px 7px var(--corTxt4);
    transition: all 0.75s ease;
}

button i{
    padding: 14px 14px 0 0;
}

button.btnPri{
    background: linear-gradient(-45deg, rgb(250, 71, 122), rgb(252, 215, 44));
	background-size: 400% 400%;
	animation: xGradiente 15s ease infinite;
    color: var(--corWhite1);
}

/*entradas*/
input, textarea{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin: 4px;
    background-color: var(--corDark2);
    color: var(--corWhite2);
    font-family: var(--fonteTxt);
    font-size: var(--tamTxt2);
}